/*************** BANNER *************/
@import "../utils/variable";
@import "../utils/mixins";
/*************** Desktop *************/
.banner_home {
  @include flexCenter;
  animation: SHOW-BOX 2s ease;
  height: 180px;
  margin: 30px 60px;
  max-width: 1440px;
  position: relative;

  &_title {
    color: $tertiary-color;
    font-weight: 500;
    z-index: 2;
    font-size: 2.5rem;
  }
}
.banner_home::before {
  background-image: url(../../assets/images/Background.png);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 25px;
  filter: brightness(70%);
  height: 100%;
  width: 100%;
  background-position: 50%;
}

/*************** Responsive Banner Home *************/

@media screen and (max-width: 992px) {
  .banner_home {
    height: 150px;
    margin: 10px;
    &_title {
      font-size: 1.8rem;
    }
  }
}
@media screen and (max-width: 576px) {
  .banner_home {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 111px;
    margin: 10px;

    &_title {
      display: flex;
      flex-direction: column;
      font-size: 1.5rem;
      font-weight: normal;
      margin-left: 15px;
    }
  }
  .banner_home::before {
    border-radius: 10px;
  }
}

/*************** Banner About *************/

.banner_about {
  animation: SHOW-BOX 2s ease;
  height: 200px;
  margin: 30px 60px;
  max-width: 1440px;
  position: relative;
}

.banner_about::before {
  background-image: url(../../assets/images/banner_about.png);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 25px;
  filter: brightness(70%);
  height: 100%;
  width: 100%;
  background-position: 50%;
}
/*************** Responsive Bnner About *************/
@media screen and (max-width: 992px) {
  .banner_about {
    height: 223px;
    margin: 15px;
  }
  .banner_about::before {
    background-position: 50%;
  }
}

@media screen and (max-width: 576px) {
  .banner_about {
    height: 265px;
    margin: 15px;
  }

  .banner_about::before {
    border-radius: 10px;
    background-position: 50%;
  }
}
