// Import des fichiers
@import "../utils/variable";
@import "../utils/mixins";

/***************************** COLLASPE **********************/

.kasa_collaspe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 60px 30px;

  &_button {
    background-color: $primary-color;
    width: 80%;
    color: $tertiary-color;
    border-radius: 5px;
  }

  &_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-weight: 500;
    font-size: 20px;
  }

  /******* COLLASPE CONTENT *********/
  &_content {
    background: $secondary-color;
    color: $primary-color;
    width: 80%;
    padding: 20px;
    border-radius: 5px;
    font-size: 20px;
    line-height: 34px;
  }
}
/******************** RESPONSIVE COLLASPE *********************/

@media screen and (max-width: 992px) {
  .kasa_collaspe {
    margin: 30px 15px;

    &_button {
      width: 100%;
    }
    &_title {
      font-size: 1.2rem;
    }
    &_content {
      width: 100%;
      font-size: 1.2rem;
      padding: 10px;
      line-height: 28px;
    }
  }
}
@media screen and (max-width: 576px) {
  .kasa_collaspe {
    &_button {
      width: 100%;
    }
    &_title {
      font-size: 13px;
    }
    &_content {
      width: 100%;
      font-size: 12px;
      padding: 10px;
      line-height: 17px;
    }
  }
}
/******************** APART COLLASPE *********************/
.kasa_fiche_collaspe {
  display: flex;
  justify-content: space-between;
  .kasa_collaspe_content {
    width: 85%;
  }
  .kasa_collaspe {
    margin-bottom: 25px;
    width: 50%;
    margin: 25px 0;

    &_button {
      width: 85%;
    }
  }
}
@media screen and (max-width: 992px) {
  .kasa_fiche_collaspe {
    display: flex;
    flex-direction: column;

    .kasa_collaspe {
      width: 95%;
      margin: 15px 10px;

      &_button {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .kasa_fiche_collaspe {
    display: flex;
    flex-direction: column;
    .kasa_collaspe_content {
      width: 100%;
    }

    .kasa_collaspe {
      width: 95%;
      margin: 15px 10px;

      &_button {
        width: 100%;
      }
    }
  }
}
