// Import des fichiers
@import "../utils/variable";
@import "../utils/mixins";

/******************** CAROUSEL *********************/

.slideshow_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 60px;
  background: #333;
  position: relative;
  border-radius: 25px;
  &_arrow {
    position: absolute;
    bottom: 33%;
    color: $tertiary-color;
    cursor: pointer;
  }

  &_pictures {
    height: 415px;
    width: 100%;
  }
  &_pictures img {
    border-radius: 25px;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  &_numbers {
    position: absolute;
    bottom: 15px;
    left: 50%;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
  }
}
.arrowRight {
  right: 20px;
}
.arrowLeft {
  left: 20px;
}
/******************** RESPONSIVE SLIDER *********************/

@media screen and (max-width: 992px) {
  .slideshow_container {
    margin: 0 20px;
    border-radius: 10px;
    &_pictures img {
      border-radius: 10px;
    }
  }
  .slideshow_container > img {
    height: 40px;
    width: 40px;
  }
}
/******************** RESPONSIVE  *********************/
@media screen and (max-width: 576px) {
  .slideshow_container {
    border-radius: 10px;
    margin: 0 15px;

    &_pictures {
      height: 280px;
    }

    &_pictures img {
      height: 280px;
    }

    &_numbers {
      display: none;
    }
  }
}
