/*************** GENERAL MIXINS *************/

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin position {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

@mixin positionAbsolute {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
